.control-section {
  font-family: "Roboto", sans-serif;
  border: 1px solid #bbb;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border-radius: 2px;
  margin-top: 50px;
  padding: 15px;
  margin-bottom: 15px;
  .input-group {
    display: flex;
    flex-flow: row nowrap;
  }
  .input-group > input[type=text] {
    display: block;
    height: 25px;
    box-sizing: border-box;
    padding: 0 5px;
    flex-grow: 1;
    border: 1px solid #bbb;
    border-right: none;
    &:focus {
      outline: none;
      border-color: steelblue;
    }
    &.has-error {
      border-color: tomato;
    }
  }
  .input-group > button {
    display: block;
    box-sizing: border-box;
    height: 25px;
    flex-basis: 60px;
    background-color: steelblue;
    color: #fff;
    border: 1px solid steelblue;
    cursor: pointer;
    transition: all 20ms;
    &:active {
      padding-top: 2px;
    }
    &:focus {
      outline: none;
    }
    &[disabled] {
      cursor: not-allowed;
    }
  }
  .error-section {
    margin-top: 5px;
    font-size: 14px;
    color: tomato;
  }
}